.redRow {
  display: flex;
  flex-flow: wrap;
  margin-top: 10px;
}

.redCard {
  padding: 24.5% 2% 2% 2%;
    box-shadow: 0px 0px 12px 0px gray;
    border-radius: 13px;
    margin: 5px 5px 5px -15.8%;
    background: url(/red.png);
    background-size: cover;
    width: 15%;
    background-repeat: no-repeat;
    position: relative;
}

.redCard:first-of-type {
  margin-left: auto;
}

.redCard:last-of-type {
  margin-right: auto;
}

.redCard p {
  font-size: 1.6vw;
  width: 134%;
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    font-weight: bold;
    left: 14%;
    transform-origin: 0 0;
    transform: rotate(90deg);
    z-index: 2;
}

.greenCard {
  padding: 24.5% 2% 2% 2%;
  box-shadow: 0px 0px 12px 0px gray;
  border-radius: 13px;
    margin: auto;
    background: url(/green.png);
    background-size: cover;
    width: 15%;
    background-repeat: no-repeat;
    position: relative;
}

.greenCard p {
  font-size: 1.6vw;
  width: 134%;
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    font-weight: bold;
    left: 14%;
    transform-origin: 0 0;
    transform: rotate(90deg);
    z-index: 2;
}